# Environment variables
.env

# Node modules
node_modules/

# Local photos (since they're stored in MongoDB GridFS)
photos/

# macOS files
.DS_Store

# Log files
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/